body {
    font-family: roboto;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f8f8f8;
}

header {
    background-image: url('images/chocovoyage_header.png'); /* Path to your image */
    background-size: cover;
    background-position: center;
    color: #fff;
    height: 300px; /* Set height to match the image's height */
    text-align: right;
    display: flex;
    flex-direction: column; /* Stacks items vertically */
    align-items: flex-end; /* Aligns items to the right */
    justify-content: center; /* Centers items vertically within the header */
}

h1 {
    font-size: 2.5em;
    margin: 0;
}

section#about {
    padding: 2em;
    max-width: 800px;
    margin: 0 auto;
}

section#recipes {
    padding: 2em;
    max-width: 800px;
    margin: 0 auto;
}

footer {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}
