body {
    font-family: roboto;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f8f8f8;
}

header {
    background-image: url('images/chocovoyage_getstarted.png'); /* Path to your image */
    background-size: cover; /* Cover the entire header area */
    background-position: center; /* Center the image */
    color: #fff;
    padding: 2em;
    text-align: center;
}

h1 {
    font-size: 2.5em;
    margin: 0;
}

section#about {
    padding: 2em;
    max-width: 800px;
    margin: 0 auto;
}

section#recipes {
    padding: 2em;
    max-width: 800px;
    margin: 0 auto;
}

footer {
    background-color: #8b4513;
    color: #fff;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}
